<%- include("partials/header") -%>

<script>
  // Function to get the Selected Text
  function getSelectedText() {
    var selectedText = '';

    // window.getSelection
    if (window.getSelection) {
      selectedText = window.getSelection();
    }
    // document.getSelection
    else if (document.getSelection) {
      selectedText = document.getSelection();
    }
    // document.selection
    else if (document.selection) {
      selectedText =
        document.selection.createRange().text;
    } else return;
    // To write the selected text into the textarea
    document.testform.selectedtext.value = selectedText;
  }
</script>

<section id="today">

  <div class="row">

    <div class="today-box col-lg-8">
      <h1>Today</h1>

      <p> <%= startingContent %> </p>

      <% posts.forEach(function(post) { %>
      <h1> <%= post.title %> </h1>
      <p>
        <%= post.content.substring(0, 3000) + " ..." %>
        <a href="/posts/<%=post.title%>">Read More</a>
      </p>

      <p>Article Source: <%= post.source%> </p>

      <% }) %>
    </div>

    <div class="help-box col-lg-4">
      <h2>Help</h2>
      <form name="testform">
        <textarea name="selectedtext" rows="12" cols="40"></textarea>
      </form>
      <!--Form to show the selected text as output-->
      <input type="button" class="btn btn-info btn-sm" value="Get Selection" onmousedown="getSelectedText()">
      <!-- https://www.geeksforgeeks.org/how-to-get-the-highlighted-selected-text-in-javascript/ -->

      <!-- connect selected text to Google translate API -->
    </div>

  </div>

</section>


<h3>Recent Articles</h3>
<section id="recent">

  <div class="row">
    <div class="recent-box col-lg-3">
      <h4>Date 1</h4>
      <img src="https://cdn.mbl.is/m2/MRHfoLptiBQYh2LncvEfh_tP8Z4=/1640x1093/smart/frimg/1/35/93/1359314.jpg" alt="Recent1">
      <p>Test Post Here</p>
    </div>

    <div class="recent-box col-lg-3">
      <h4>Date 2</h4>
      <img src="https://frettabladid.overcastcdn.com/images/540628.2e16d0ba.fill-1298x776-c100.jpg" alt="Recent2">
      <p>Test Post Here</p>
    </div>

    <div class="recent-box col-lg-3">
      <h4>Date 3</h4>
      <img src="https://vb.overcastcdn.com/images/118649.2e16d0ba.fill-2012x1160-c100.jpg" alt="Recent3">
      <p>Test Post Here</p>
    </div>

    <div class="recent-box col-lg-3">
      <h4>Date 4</h4>
      <img src="https://vb.overcastcdn.com/images/118357.2e16d0ba.fill-2012x1160-c100.jpg" alt="Recent4">
      <p>Test Post Here</p>
    </div>

  </div>

</section>

</div>


<%- include("partials/footer") -%>
