<%- include("partials/header") -%>

<script>
  // Function to get the Selected Text
  function getSelectedText() {
    var selectedText = '';

    // window.getSelection
    if (window.getSelection) {
      selectedText = window.getSelection();
    }
    // document.getSelection
    else if (document.getSelection) {
      selectedText = document.getSelection();
    }
    // document.selection
    else if (document.selection) {
      selectedText =
        document.selection.createRange().text;
    } else return;
    // To write the selected text into the textarea
    document.testform.selectedtext.value = selectedText;
  }
</script>

<section id="today">

  <div class="row">

    <div class="today-box col-lg-8">
      <h1>Today</h1>

      <% latestPosts.forEach(function(post) { %>
      <h1> <%= post.title %> </h1>
      <p>
        <%= post.content.substring(0, 3000) + " ..." %>
        <a href="/posts/<%=post.title%>">Read More</a>
      </p>

      <p>Article Source: <%= post.source%> </p>

      <% }) %>
    </div>

    <div class="help-box col-lg-4">
      <h2>Help</h2>
      <form name="testform">
        <textarea name="selectedtext" rows="12" cols="40"></textarea>
      </form>
      <!--Form to show the selected text as output-->
      <input type="button" class="btn btn-info btn-sm" value="Get Selection" onmousedown="getSelectedText()">
      <!-- https://www.geeksforgeeks.org/how-to-get-the-highlighted-selected-text-in-javascript/ -->
      <!-- connect selected text to Google translate API -->
      <button type="button" class="btn btn-danger btn-sm" name="button">Translate</button>
    </div>

  </div>

</section>


<h3>Recent Articles</h3>
<section id="recent">

  <div class="row">
    <% recentPosts.forEach(function(post) { %>
    <div class="recent-box col-lg-3">
      <h4><%=post?.createdAt && new Date(post?.createdAt).toJSON().slice(0,10).replace(/-/g,'/') %></h4>

      <img src="<%= post.image %>" alt="RecentImage">
      <p><%= post.title %></p>
    </div>
    <% }) %>

  </div>

</section>

</div>


<%- include("partials/footer") -%>
